<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form >
            <div class=" form-group ">
                <label for="title" >Title</label>
                <input type="text" class="form-control" id="title" >
            </div>
              
            <div class=" form-group ">
                <label for="price" >Price</label>
                <div class="input-group">
                   <span class="input-group-addon">$</span>
                   <input type="number" class="form-control"id="price" >
              </div>
            </div>
            <div class="form-group ">
                <label for="cate">Catergory</label>
                <select class="form-control" id="cate">
                    <option value="">select any option</option>
                    <option value="a">option1</option>
                    <option  *ngFor="let m of category$" [value]="m.key">{{m.name}}</option>
                    
                </select>
            </div>
            <div class="form-group  ">
                <label for="imageurl">Image URL</label>
                <input type="text" id="imageurl" class="form-control">
            </div>
        </form>
            
        
    </div>
    <div class="col-md-2"></div>
</div>

